[submodule "state/activate/scm/git/testdata/repo"]
	path = internal/scm/git/testdata/repo
	url = https://github.com/activestate/repo.git
[submodule "scripts/artifact-generator/source/vendor"]
	path = scripts/artifact-generator/source/vendor
	url = https://github.com/ActiveState/cli-artifacts-source.git
