/build/
debug
debug.test
internal/constants/generated.go
**/testdata/generated/**
.DS_Store
__PYCACHE__
*.log
.vscode
.env
.idea
.vs
node_modules
**/zig-cache/
cmd/state-offline-installer/artifacts.tar.gz
cmd/state-offline-installer/LICENSE.txt
cmd/state-remote-installer/resource.syso
cmd/state/versioninfo.json
cmd/state/resource.syso
cmd/state-svc/versioninfo.json
cmd/state-svc/resource.syso