/build/
debug
debug.test
internal*/constants/generated.go
**/testdata/generated/**
.DS_Store
__PYCACHE__
*.log
.vscode
.env
.idea
.vs
installers/msi-language/**/bin
installers/msi-language/**/obj
installers/msi-language/Product.wxs
node_modules
**/zig-cache/
cmd/state-offline-installer/artifacts.tar.gz
cmd/state-offline-installer/LICENSE.txt
