{
    "name": "CodeIntel",
    "owner": "ActiveState",
    "runtimes": [
        {
            "name": "Python",
            "version": "2.7.11",
            "packages": [
                {
                    "name": "apsw",
                    "version": "3.8.11.1"
                },
                {
                    "name": "peewee",
                    "version": "2.9.1"
                }
            ]
        }
    ],
    "environment": [
        {
            "platform": "all",
            "variables": [
                {
                    "name": "PYTHONPATH",
                    "value": "%projectDir%/src:%projectDir%/tests"
                }
            ],
            "hooks": [
                {
                    "hook": "install",
                    "command": "%pythonExe% %projectDir%/setup.py prepare"
                }
            ],
            "commands": [
                {
                    "name": "tests",
                    "command": "pytest %projectDir%/tests"
                }
            ]
        }
    ]
} 