# Golang CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-go/ for more details
version: 2
jobs:
  build:
    docker:
      - image: circleci/golang:1.9
    working_directory: /go/src/github.com/ActiveState/ActiveState-CLI
    environment:
      TEST_RESULTS: /tmp/test-results
    steps:
      - checkout
      - run: 
          name: Prepare Environment
          command: |
              git submodule update --init
              mkdir -p $TEST_RESULTS
              go get github.com/jstemmer/go-junit-report
      - run:
          name: Run unit tests
          command: |
              trap "go-junit-report <${TEST_RESULTS}/go-test.out > ${TEST_RESULTS}/go-test-report.xml" EXIT
              make test | tee ${TEST_RESULTS}/go-test.out
      - run: 
          name: Build the CLI
          command: make build
      - run: 
          name: Deploy bits
          command: make deploy
      - store_artifacts:
          path: /tmp/test-results
          destination: raw-test-output
      - store_test_results:
          path: /tmp/test-results