trigger:
  - master

jobs:
  - job: build_windows_azure
    pool:
      vmImage: windows-2019
    variables:
      - group: Secrets
      - name: SHELL
        value: /c/Program\ Files/Git/bin/bash.exe
      - name: CI
        value: azure
      - name: GOPATH
        value: /c/Users/VssAdministrator/go
      - name: GOBIN
        value: /c/Users/VssAdministrator/go/bin
      - name: BINPATH
        value: /c/Users/VssAdministrator/bin
      - name: ACTIVESTATE_CLI_DISABLE_RUNTIME
        value: "true"
      - name: ACTIVESTATE_CLI_DISABLE_UPDATES
        value: "true"
    steps:
      - bash: |
          set -e
          mkdir -p $(BINPATH)
          mkdir -p $(GOPATH)
          mkdir -p $(GOBIN)
          shopt -s dotglob nullglob
          echo '##vso[task.prependpath]$(GOBIN)'
          echo '##vso[task.prependpath]$(BINPATH)'
          echo '##vso[task.prependpath]$(System.DefaultWorkingDirectory)/.azure'

          AWS_CONFIG=/c/Users/VssAdministrator/.aws/config
          mkdir -p /c/Users/VssAdministrator/.aws/
          touch $(AWS_CONFIG)

          echo '[default]' > $(AWS_CONFIG)
          echo '$(AWS_ACCESS_KEY_ID)' > $(AWS_CONFIG)
          echo '$(AWS_SECRET_ACCESS_KEY)' > $(AWS_CONFIG)

          go version
          printenv
        displayName: Prepare Environment
      - bash: |
          ./public/install.sh -b master -n -t $(BINPATH)
        displayName: Install State Tool
      - bash: |
          set -e

          export GOFLAGS=-mod=vendor

          state auth --token $(PLATFORM_API_TOKEN)
          state run preprocess

          go test -v -parallel 12 -covermode=atomic -coverprofile=c.out `go list ./... | grep -vE "(secrets-)?api/(client|model)" | grep -v "integration"` | tee go-test.out
          go-junit-report < go-test.out > $(Agent.OS)-tests.xml
          cp go-test.out public/$(Agent.OS)-tests.out
          cp $(Agent.OS)-tests.xml public
        env:
          GITHUB_REPO_TOKEN: $(GITHUB_REPO_TOKEN)
        displayName: Unit Tests
      - bash: |
          set -e
          export GOFLAGS=-mod=vendor
          state auth --token $(PLATFORM_API_TOKEN)
          if [[ "$BUILD_SOURCEBRANCHNAME" == "master" ]]; then
            echo "Building for external use"
            BRANCH_OVERRIDE=origin/unstable state run build-external
          fi
          echo "Building for internal use"
          state run build
        env:
          GITHUB_REPO_TOKEN: $(GITHUB_REPO_TOKEN)
        displayName: Build
      - script: |
          SET GOPATH="C:\Users\VssAdministrator\go"
          SET GOFLAGS=-mod=vendor
          SET SHELL=

          go test -v -parallel 6 .\test\integration
        env:
          GIT_BRANCH: $(Build.SourceBranch)
        displayName: Windows Integration Tests
      - task: PublishBuildArtifacts@1
        inputs:
          pathtoPublish: public
          parallel: true
          parallelCount: 8
      - task: PublishTestResults@2
        inputs:
          testResultsFormat: JUnit
          testResultsFiles: "*-tests.xml"
          failTaskOnFailedTests: true
