root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{wxs,wxl,p.wxs}]
indent_style = tab
indent_size = 2
tabsize = 2
trim_trailing_whitespace = true

[*.cs]
indent_style = space
indent_size = 4
tabsize = 4
trim_trailing_whitespace = true
