trigger:
  - master

jobs:

  - job: linux
    pool:
      vmImage: ubuntu-16.04
    variables:
      - group: Secrets
      - name: SHELL
        value: /bin/bash
      - name: CI
        value: azure
      - name: GOPATH
        value: /home/vsts/go
      - name: GOBIN
        value: /home/vsts/go/bin
      - name: GOROOT
        value: /usr/local/go1.12
      - name: BINPATH
        value: /home/vsts/bin
      - name: MODPATH
        value: $(GOPATH)/src/github.com/$(build.repository.name)
      - name: WORKDIR
        value: $(GOPATH)/src/github.com/$(build.repository.name)
      - name: ACTIVESTATE_CLI_DISABLE_RUNTIME
        value: "true"
      - name: ACTIVESTATE_CLI_DISABLE_UPDATES
        value: "true"
    steps:
      - bash: |
          sudo apt-get install -y python3-setuptools
          mkdir -p $BINPATH
          curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-0.6.3-linux-amd64 > $BINPATH/cc-test-reporter
          chmod +x $BINPATH/cc-test-reporter
        displayName: Prepare Agent
      - template: steps.yml
  - job: macos
    pool:
      vmImage: macos-10.13
    variables:
      - group: Secrets
      - name: SHELL
        value: /bin/bash
      - name: CI
        value: azure
      - name: GOPATH
        value: /Users/vsts/go
      - name: GOBIN
        value: /Users/vsts/go/bin
      - name: BINPATH
        value: /Users/vsts/bin
      - name: MODPATH
        value: $(GOPATH)/src/github.com/$(build.repository.name)
      - name: WORKDIR
        value: $(GOPATH)/src/github.com/$(build.repository.name)
      - name: ACTIVESTATE_CLI_DISABLE_RUNTIME
        value: "true"
      - name: ACTIVESTATE_CLI_DISABLE_UPDATES
        value: "true"
    steps:
      - template: steps.yml

  - job: windows
    pool:
      vmImage: vs2017-win2016
    variables:
      - group: Secrets
      - name: SHELL
        value: /c/Program\ Files/Git/bin/bash.exe
      - name: CI
        value: azure
      - name: GOPATH
        value: /c/Users/VssAdministrator/go
      - name: GOBIN
        value: /c/Users/VssAdministrator/go/bin
      - name: BINPATH
        value: /c/Users/VssAdministrator/bin
      - name: MODPATH
        value: $(GOPATH)/src/github.com/$(build.repository.name)
      - name: WORKDIR
        value: C:\Users\VssAdministrator\go\src\github.com\$(build.repository.name)
      - name: ACTIVESTATE_CLI_DISABLE_RUNTIME
        value: "true"
      - name: ACTIVESTATE_CLI_DISABLE_UPDATES
        value: "true"
    steps:
      - template: steps.yml
