name: Build-Test-Deploy
"on":
  push:
    branches:
    - master
  pull_request:
    types:
    - labeled
    - synchronize
    - reopened
jobs:
  prepare:
    name: Prepare
    runs-on: ubuntu-latest
    env:
      ACTIVESTATE_CLI_DISABLE_RUNTIME: true
      GOFLAGS: -mod=vendor
      SHELL: bash
      GITHUB_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    timeout-minutes: 10
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Validate
      shell: bash
      run: |
        if [ "${GITHUB_REF##*/}" != "master" ] && [ "${{ contains(toJson(github.event.pull_request.labels), 'version:') }}" != "true" ]; then
          echo "Version label must be set"
          exit 1
        fi
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go-version }}
    - name: Setup
      shell: bash
      run: |
        bin=$(pwd)/.github/deps/${{ runner.os }}/bin
        echo "Adding $bin to PATH"
        echo "::add-path::$bin"
        printenv
    - name: Generate Version
      shell: bash
      run: state run generate-version
    - name: Upload Shared Artifacts
      uses: actions/upload-artifact@v2
      with:
        name: session-shared-build
        path: build/
  build:
    name: Build
    needs:
    - prepare
    strategy:
      matrix:
        go-version:
        - 1.13.x
        platform:
        - ubuntu-latest
        - macos-latest
        - windows-latest
    runs-on: ${{ matrix.platform }}
    env:
      ACTIVESTATE_CLI_DISABLE_RUNTIME: true
      GOFLAGS: -mod=vendor
      SHELL: bash
      GITHUB_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    timeout-minutes: 10
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Download Shared Artifacts
      uses: actions/download-artifact@v2
      with:
        name: session-shared-build
        path: build/
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go-version }}
    - name: Setup
      shell: bash
      run: |
        bin=$(pwd)/.github/deps/${{ runner.os }}/bin
        echo "Adding $bin to PATH"
        echo "::add-path::$bin"
        printenv
    - name: Preprocess
      shell: bash
      run: |
        if [[ "${GITHUB_REF##*/}" == "master" ]]; then
          export BRANCH_OVERRIDE=unstable
        fi
        state run preprocess
    - name: Build
      shell: bash
      run: state run build
    - name: Build (32bit)
      shell: bash
      if: runner.os == 'Windows'
      run: state run build-32bit
    - name: Build Install Scripts
      shell: bash
      run: state run build-install-scripts
    - name: Sign
      shell: bash
      if: runner.os == 'Windows'
      run: "echo $MSI_CERT_BASE64 | base64 --decode > Cert.p12\nexport PATH=/c/Program\\ Files\\ \\(x86\\)/WiX\\ Toolset\\ v3.11/bin/:/c/Program\\ Files\\ \\(x86\\)/Windows\\ Kits/10/bin/10.0.16299.0/x86/:$PATH\n\nsigntool.exe sign -d \"ActiveState State Tool\" -f \"Cert.p12\" -p ${CODE_SIGNING_PASSWD} ./build/state.exe \nsigntool.exe sign -d \"ActiveState State Tool (32bit)\" -f \"Cert.p12\" -p ${CODE_SIGNING_PASSWD} ./build/state32.exe \n"
      env:
        CODE_SIGNING_PASSWD: ${{ secrets.CODE_SIGNING_PASSWD }}
        MSI_CERT_BASE64: ${{ secrets.MSI_CERT_BASE64 }}
    - name: Sign install.PS1
      if: runner.os == 'Windows'
      shell: powershell
      run: |
        $cert = New-Object System.Security.Cryptography.X509Certificates.X509Certificate2
        $cert.Import('Cert.p12',$env:CODE_SIGNING_PASSWD,'DefaultKeySet')
        Set-AuthenticodeSignature -FilePath build\install.ps1 -Certificate $cert
      env:
        CODE_SIGNING_PASSWD: ${{ secrets.CODE_SIGNING_PASSWD }}
    - name: Generate Update
      shell: bash
      run: state run generate-update
    - name: Generate Update (32bit)
      shell: bash
      if: runner.os == 'Windows'
      run: state run generate-update-32bit
    - name: Build State MSI
      if: runner.os == 'Windows'
      shell: bash
      run: |
        echo $MSI_CERT_BASE64 | base64 --decode > Cert.p12
        export PATH=/c/Program\ Files\ \(x86\)/WiX\ Toolset\ v3.11/bin/:/c/Program\ Files\ \(x86\)/Windows\ Kits/10/bin/10.0.16299.0/x86/:$PATH
        export SHELL=bash
        state run build-msi-state
        signtool.exe sign -d "ActiveState State Tool" -f "Cert.p12" -p ${CODE_SIGNING_PASSWD} build/msi/state_tool.msi
      env:
        CODE_SIGNING_PASSWD: ${{ secrets.CODE_SIGNING_PASSWD }}
        MSI_CERT_BASE64: ${{ secrets.MSI_CERT_BASE64 }}
    - name: Build Languages MSI
      if: runner.os == 'Windows'
      shell: bash
      run: |
        echo $MSI_CERT_BASE64 | base64 --decode > Cert.p12
        export PATH=/c/Program\ Files\ \(x86\)/Microsoft\ Visual\ Studio/2019/Enterprise/MSBuild/Current/Bin/:/c/Program\ Files\ \(x86\)/Windows\ Kits/10/bin/10.0.16299.0/x86/:$PATH
        export SHELL=bash
        state run build-msi-language Perl Public ActiveState/ActivePerl-5.26 5.26.3001
        signtool.exe sign -d "ActiveState Language Installer" -f "Cert.p12" -p ${CODE_SIGNING_PASSWD} ./build/msi/ActivePerl-5.26.msi
        state run build-msi-language Perl Public ActiveState/ActivePerl-5.28 5.28.1001
        signtool.exe sign -d "ActiveState Language Installer" -f "Cert.p12" -p ${CODE_SIGNING_PASSWD} ./build/msi/ActivePerl-5.28.msi
        state run build-base-language-msi
      env:
        CODE_SIGNING_PASSWD: ${{ secrets.CODE_SIGNING_PASSWD }}
        MSI_CERT_BASE64: ${{ secrets.MSI_CERT_BASE64 }}
    - name: Upload Session Artifacts
      uses: actions/upload-artifact@v2
      with:
        name: session-build-${{ matrix.platform }}
        path: build/
  unittest:
    name: Unit Test
    strategy:
      matrix:
        go-version:
        - 1.13.x
        platform:
        - ubuntu-latest
        - macos-latest
        - windows-latest
    runs-on: ${{ matrix.platform }}
    needs:
    - prepare
    env:
      ACTIVESTATE_CLI_DISABLE_RUNTIME: true
      GOFLAGS: -mod=vendor
      SHELL: bash
      GITHUB_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    timeout-minutes: 10
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Download Shared Artifacts
      uses: actions/download-artifact@v2
      with:
        name: session-shared-build
        path: build/
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go-version }}
    - name: Setup
      shell: bash
      run: |
        bin=$(pwd)/.github/deps/${{ runner.os }}/bin
        echo "Adding $bin to PATH"
        echo "::add-path::$bin"
        printenv
    - name: Preprocess
      shell: bash
      run: |
        if [[ "${GITHUB_REF##*/}" == "master" ]]; then
          export BRANCH_OVERRIDE=unstable
        fi
        state run preprocess
    - name: Unit Tests
      shell: bash
      run: |
        go test `go list ./... | grep -v api | grep -v integration | grep -v expect`
  inttest:
    if: contains(github.event.pull_request.labels.*.name, 'run integration tests')
    name: Integration Test
    strategy:
      matrix:
        go-version:
        - 1.13.x
        platform:
        - ubuntu-latest
        - macos-latest
        - windows-latest
    runs-on: ${{ matrix.platform }}
    needs:
    - prepare
    env:
      ACTIVESTATE_CLI_DISABLE_RUNTIME: true
      GOFLAGS: -mod=vendor
      SHELL: bash
      GITHUB_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    timeout-minutes: 25
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Download Shared Artifacts
      uses: actions/download-artifact@v2
      with:
        name: session-shared-build
        path: build/
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go-version }}
    - name: Setup
      shell: bash
      run: |
        bin=$(pwd)/.github/deps/${{ runner.os }}/bin
        echo "Adding $bin to PATH"
        echo "::add-path::$bin"
        printenv
    - name: Preprocess
      shell: bash
      run: |
        if [[ "${GITHUB_REF##*/}" == "master" ]]; then
          export BRANCH_OVERRIDE=unstable
        fi
        state run preprocess
    - name: Build
      shell: bash
      run: state run build
    - name: Generate Update
      shell: bash
      run: state run generate-update
    - name: Build Languages MSI
      if: runner.os == 'Windows'
      shell: bash
      run: |
        echo $MSI_CERT_BASE64 | base64 --decode > Cert.p12
        export PATH=/c/Program\ Files\ \(x86\)/Microsoft\ Visual\ Studio/2019/Enterprise/MSBuild/Current/Bin/:/c/Program\ Files\ \(x86\)/Windows\ Kits/10/bin/10.0.16299.0/x86/:$PATH
        export SHELL=bash
        state run build-msi-language Perl Public ActiveState/ActivePerl-5.26 5.26.3001
        signtool.exe sign -d "ActiveState Language Installer" -f "Cert.p12" -p ${CODE_SIGNING_PASSWD} ./build/msi/ActivePerl-5.26.msi
        state run build-msi-language Perl Public ActiveState/ActivePerl-5.28 5.28.1001
        signtool.exe sign -d "ActiveState Language Installer" -f "Cert.p12" -p ${CODE_SIGNING_PASSWD} ./build/msi/ActivePerl-5.28.msi
        state run build-base-language-msi
      env:
        CODE_SIGNING_PASSWD: ${{ secrets.CODE_SIGNING_PASSWD }}
        MSI_CERT_BASE64: ${{ secrets.MSI_CERT_BASE64 }}
    - name: Integration Tests
      shell: bash
      run: |
        if [ "${{ contains(github.event.pull_request.labels.*.name, 'run critical integration tests') }}" == "true" ]; then
          export TEST_SUITE_TAGS = "critical"
        fi
        SHELL='' go test -timeout 20m ./test/integration -v
      env:
        INTEGRATION_TEST_USERNAME: ${{ secrets.INTEGRATION_TEST_USERNAME }}
        INTEGRATION_TEST_PASSWORD: ${{ secrets.INTEGRATION_TEST_PASSWORD }}
        PLATFORM_API_TOKEN: ${{ secrets.PLATFORM_API_TOKEN }}
  deploy:
    name: Deploy
    needs:
    - build
    - unittest
    runs-on: ubuntu-latest
    env:
      ACTIVESTATE_CLI_DISABLE_RUNTIME: true
      GOFLAGS: -mod=vendor
      SHELL: bash
      GITHUB_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    timeout-minutes: 10
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go-version }}
    - name: Setup
      shell: bash
      run: |
        bin=$(pwd)/.github/deps/${{ runner.os }}/bin
        echo "Adding $bin to PATH"
        echo "::add-path::$bin"
        printenv
    - name: Download All Session Artifacts
      uses: actions/download-artifact@v2
      with:
        path: build/
    - name: Sanitize All Session Artifacts
      shell: bash
      run: |
        cd build
        rm -Rf session-shared-build
        find . -mindepth 2 -maxdepth 2 -print0 | xargs -0 -I file rsync -av file .
        rm -Rf session*
    - name: Preprocess
      shell: bash
      run: |
        if [[ "${GITHUB_REF##*/}" == "master" ]]; then
          export BRANCH_OVERRIDE=unstable
        fi
        state run preprocess
    - name: Cleanup Build Dir
      shell: bash
      run: rm build/state* || true
    - name: Deploy
      shell: bash
      if: github.ref == 'refs/heads/master'
      run: |
        state run deploy-updates
        state run deploy-installers
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    - name: Cleanup Session Artifacts
      uses: geekyeggo/delete-artifact@v1
      with:
        name: |
          session-shared-build
          session-build-ubuntu-latest
          session-build-macos-latest
          session-build-windows-latest
    - name: Upload Artifacts
      uses: actions/upload-artifact@v2
      with:
        name: build
        path: build/
