name: Target & Verify

# === Triggers ===
'on':
  pull_request:
    types:
      - edited
      - labeled
      - opened
      - synchronize
      - reopened

# === JOBS ===
jobs:
  # === Target & Verify PR ===
  verifypr:
    name: Target & Verify PR
    runs-on: ubuntu-20.04
    env:
      ACTIVESTATE_CI: true
      ACTIVESTATE_CLI_DISABLE_RUNTIME: true
      SHELL: bash
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      JIRA_USERNAME: ${{ secrets.JIRA_EMAIL }}
      JIRA_TOKEN: ${{ secrets.JIRA_TOKEN }}
    concurrency:
      group: ${{ github.ref }}
      cancel-in-progress: true
    timeout-minutes: 5

    steps:
      - # === Checkout code ===
        name: Checkout code
        uses: actions/checkout@v2

      - # === Install Go ===
        name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: '1.20.x'

      - # === Install State Tool ===
        name: Install State Tool
        uses: ActiveState/setup-state-tool@v1

      - # === Setup ===
        name: Setup
        shell: bash
        run: |
          bin=$(pwd)/.github/deps/${{ runner.os }}/bin
          echo "Adding $bin to PATH"
          echo "$bin" >> $GITHUB_PATH
          ls -ahl $bin
          printenv

      - # === Install Deps ===
        name: Install Deps
        shell: bash
        run: state run install-deps

      - # === Preprocess ===
        name: Preprocess
        shell: bash
        run: state run preprocess -v

      - # === Set Target PR & FixVersion ===
        name: Set Target PR and FixVersion
        shell: bash
        run: go run scripts/ci/target-version-pr/main.go ${{ github.event.pull_request.number }}

      - # === Actually Verify PR ===
        name: Verify PR
        shell: bash
        run: go run scripts/ci/verify-pr/main.go ${{ github.event.pull_request.number }}
